/* base variables */
/* text, title variables */
/* border variables */
.user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.i-b {
  display: inline-block;
  vertical-align: top;
}
.title-1 {
  font: bold 52px/1.25 'RobotoSlab', sans-serif;
  color: #000000;
}
.title-2 {
  font: bold 28px/1.33 'RobotoSlab', sans-serif;
  color: #000000;
}
.title-3 {
  font: bold 22px/1.4 'RobotoSlab', sans-serif;
  color: #000000;
}
.title-4 {
  font: bold 18px/1.52 'RobotoSlab', sans-serif;
  color: #000000;
}
.title-1-mob {
  font: bold 35px/1.3 'RobotoSlab', sans-serif;
}
.title-2-mob {
  font: bold 23px/1.35 'RobotoSlab', sans-serif;
}
.title-3-mob {
  font: bold 19px/1.35 'RobotoSlab', sans-serif;
}
.title-4-mob {
  font: bold 17px/1.55 'RobotoSlab', sans-serif;
}
.font-small {
  font: 14px/1.58 'RobotoSlab', sans-serif;
}
.nowrap {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.color-1 {
  color: #1c1c1c;
}
.color-2 {
  color: #000000;
}
.color-3 {
  color: #585858;
}
.color-4 {
  color: #585858;
}
.bg-1 {
  background: #ffffff;
}
.bg-2 {
  background: #f7f7f7;
}
.purple {
  color: #3c3a4f;
}
.white {
  color: #ffffff;
}
.red {
  color: #ed1c24;
}
.border-1 {
  border: 1px solid #d7d7d7;
}
.absolute-1 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.absolute-2 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.full {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.table {
  width: 100%;
  display: table;
}
.table-row {
  display: table-row;
}
