@import "_variables.less";

.transition(@transition:0.2s){-webkit-transition:@transition;-moz-transition:@transition;-ms-transition:@transition;transition:@transition;}
.rotate(@rotate:180deg){-webkit-transform:rotate(@rotate);-moz-transform:rotate(@rotate);-ms-transform:rotate(@rotate);transform:rotate(@rotate);}
.cover(@bg-pos:center center){background-repeat:no-repeat; background-position:@bg-pos; background-size:cover;}
.user-select{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.i-b{display:inline-block; vertical-align:top;}
.title-1{font:bold @font-size-h1/@line-height-h1 @font-1; color:@title-color;}
.title-2{font:bold @font-size-h2/@line-height-h2 @font-1; color:@title-color;}
.title-3{font:bold @font-size-h3/@line-height-h3 @font-1; color:@title-color;}
.title-4{font:bold @font-size-h4/@line-height-h4 @font-1; color:@title-color;}
.title-1-mob{font:bold @font-size-h1-mob/@line-height-h1-mob @font-1;}
.title-2-mob{font:bold @font-size-h2-mob/@line-height-h2-mob @font-1;}
.title-3-mob{font:bold @font-size-h3-mob/@line-height-h3-mob @font-1;}
.title-4-mob{font:bold @font-size-h4-mob/@line-height-h4-mob @font-1;}
.font-small{font:14px/1.58 @font-1;}
.nowrap{max-width:100%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.color-1{color:@text-color;}
.color-2{color:@title-color;}
.color-3{color:@link-color-2;}
.color-4{color:@custom-color-1;}

.bg-1{background:@base-bg-1;}
.bg-2{background:@base-bg-2;}
.purple{color:@purple;}
.white{color:@white;}
.red{color:@red;}
.border-1{border:1px solid @border-color-1;}
.box-shadow(@x:0, @y:0, @blur:16px, @color:rgba(0,0,0,0.16)){box-shadow:@arguments;}
.text-shadow(@x:3px, @y:3px, @blur:7px, @color:rgba(0,0,0,0.21)){text-shadow:@arguments;}
.absolute-1{width:100%; position:absolute; top:0; left:0;}
.absolute-2{width:100%; position:absolute; bottom:0; left:0;}
.full{width:100%; height:100%; position:absolute; top:0; left:0;}
.table{width:100%; display:table;}
.table-cell(@align:top){display:table-cell; vertical-align:@align;}
.table-row{display:table-row;}