/* base variables */
@base-bg-1:#fff; 
@base-bg-2:#f7f7f7; 
@base-font-weight:normal; 
@base-font-size:16px; 
@base-font-size-mob:15px; 
@base-line-height:1.63; 
@font-1:'RobotoSlab', sans-serif; 
@link-color-1:#ed1c24;
@link-color-2:#585858;

/* text, title variables */
@text-color:#1c1c1c;
@title-color:#000;
@custom-color-1:#585858;
@purple:#3c3a4f;
@purple-hover:#4d4b66;
@purple-light:#a9a5cf;
@purple-xlight:#b7b3da;
@white:#fff;
@red:#ed1c24;
@red-hover:#fd1c24;
@red-dark:#ca0109;
@black:#000;
@light:#fdf8e7;

@font-size-h1:52px;
@line-height-h1:1.25;
@font-size-h2:28px;
@line-height-h2:1.33;
@font-size-h3:22px;
@line-height-h3:1.4;
@font-size-h4:18px;
@line-height-h4:1.52;
@font-size-h1-mob:35px;
@line-height-h1-mob:1.3;
@font-size-h2-mob:23px;
@line-height-h2-mob:1.35;
@font-size-h3-mob:19px;
@line-height-h3-mob:1.35;
@font-size-h4-mob:17px;
@line-height-h4-mob:1.55;

/* border variables */
@border-color-1:#d7d7d7;
@border-color-2:#ebebeb;
@border-color-3:#e1e1e1;
@border-color-4:#f2eef1;
@border-color-5:#b7b7b7;
@radius:5px;