@charset "utf-8";
@import "_mixins.less";

/*! ------------------------------1. Сброс CSS------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, cite, code, em, font, img, q, s, small, strong, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, section, nav, header, footer, main, figure, figcaption, fgroup, time{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article, aside, section, nav, header, footer, main, figure, figcaption, fgroup, time{display:block;}
html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-tap-highlight-color:rgba(0, 0, 0, 0.1);}
input::-moz-focus-inner{border:0;padding:0;}
button::-moz-focus-inner{border:0;padding:0;}
input[type=submit], input[type=button], button{cursor:pointer;-webkit-appearance:none;}
input, textarea, button{background:none;border:none;padding:0;margin:0;border-radius:0;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;-webkit-focus-ring-color:none;outline:none;}
button{overflow:visible;}
body{line-height:1;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';}
:focus{outline:0;}
:disabled{cursor:default;}
table{border-collapse:collapse;border-spacing:0;}
.clear{clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.justify{text-align:justify;}
.justify:after{content:"";display:inline-block;width:100%;height:0;overflow:hidden;cursor:default;}
*, *:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
ul li{list-style:none;}
ol{counter-reset:item;list-style:none;}
ol li:before{content:counter(item, decimal)". ";counter-increment:item;}
ol li ul li:before{display:none;}
img{display:block;}
a, input[type=submit], button{.transition}

/*! ------------------------------2. Подключаемые шрифты------------------------------*/
@font-face{
    font-family:'RobotoSlab';
    src:url('../fonts/robotoslab-regular-webfont.eot');
    src:url('../fonts/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/robotoslab-regular-webfont.woff2') format('woff2'),
        url('../fonts/robotoslab-regular-webfont.woff') format('woff'),
        url('../fonts/robotoslab-regular-webfont.ttf') format('truetype'),
        url('../fonts/robotoslab-regular-webfont.svg#RobotoSlab') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'RobotoSlab';
    src:url('../fonts/robotoslab-bold-webfont.eot');
    src:url('../fonts/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/robotoslab-bold-webfont.woff2') format('woff2'),
        url('../fonts/robotoslab-bold-webfont.woff') format('woff'),
        url('../fonts/robotoslab-bold-webfont.ttf') format('truetype'),
        url('../fonts/robotoslab-bold-webfont.svg#RobotoSlab') format('svg');
    font-weight:bold;
    font-style:normal;
}

/*! ------------------------------3. Типовые элементы------------------------------*/
.loaded{overflow:hidden;}
.loaded .main-wrapper{visibility:hidden;}
.loaded .icon-load{display:block;}
.icon-load{width:100%; height:100%; position:fixed; top:0; left:0; z-index:99; display:none; background:#222;}
.icon-load:before{content:""; background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;}
html{height:100%;}
body{min-width:320px;height:100%;position:relative;font:@base-font-weight @base-font-size/@base-line-height @font-1;color:@text-color;background:@base-bg-1;}
.main-wrapper{min-height:100%;padding:0 0 193px 0;overflow:hidden;position:relative;}
.wrapper{max-width:1230px; margin:auto; padding:0 30px;}
a{text-decoration:none; color:@link-color-1; border-bottom:1px solid rgba(255,255,255,0);}
/*! заголовки, текст */
h1{padding:0 0 22px; .title-1}
h2{padding:0 0 22px; .title-2}
h3{padding:0 0 22px; .title-2}
h4, h5, h6{padding:0 0 23px; .title-4} 
ul, ol{padding:0 0 26px;}
p{padding:0 0 26px;}
/*! текстовые инпуты */
.input-1{width:100%; height:45px; margin:0 0 20px; padding:6px 14px; display:block; background:@base-bg-1; font:@base-font-size/1 @font-1; .border-1; color:@text-color;}
.input-1:focus, .textarea-1:focus{background:@light;}
.error{border-color:@red !important;}
.textarea-1{min-width:100%; max-width:100%; height:90px; min-height:90px; margin:0 0 20px; padding:9px 14px; display:block; background:@base-bg-1; font:@base-font-size/@base-line-height @font-1; .border-1; color:@text-color;}
*::-moz-placeholder{color:@text-color !important;opacity:1 !important;}
*::-webkit-input-placeholder{color:@text-color !important;opacity:1 !important;line-height:normal;}
*:-ms-input-placeholder{color:@text-color !important;opacity:1 !important;} 
/*! кнопки */
.button-1, .button-2{min-width:200px; height:50px; margin:0 0 20px; padding:0 24px; .i-b; border:2px solid @red; border-radius:25px; text-align:center; font:@base-font-size/46px @font-1; .color-2;}
.button-2{background:@red; color:@white;}
.button-3{width:40px; height:40px; .i-b; position:relative; background:@white; border:1px solid @red; border-radius:21px;}
.button-3:before, .button-3:after{content:""; width:23px; height:22px; position:absolute; top:7px; right:7px; background:url(../img/sprite-1.png) no-repeat -297px 0; .transition;}
.button-3:after{opacity:0; z-index:1; background-position:-297px -26px;}
.button-3.active{background:@red;}
.button-3.active:before{opacity:0;}
.button-3.active:after{opacity:1;}
.button-3__numbers{min-width:20px; height:20px; padding:0 7px; position:absolute; bottom:1px; right:-8px; z-index:3; background:@red; border-radius:10px; color:@white; text-align:center; font:12px/20px @font-1;}
.button-4{min-width:200px; height:47px; padding:0 20px; .i-b; background:@purple; color:@white; font:16px/46px @font-1; text-align:center; border:none;}
.button-5{width:17px; height:17px; .i-b; position:relative;}
.button-5:before, .button-5:after{content:""; width:100%; height:100%; position:absolute; top:0; left:0; background:url(../img/sprite-1.png) no-repeat -325px 0; .transition;}
.button-5:after{opacity:0; z-index:1; background-position:-325px -21px;}
.button-6{padding:0 0 0 29px; position:relative; border:none; .font-small;}
.button-6:before{content:""; width:17px; height:11px; margin:-5px 0 0; position:absolute; top:50%; left:0; background:url(../img/sprite-1.png) no-repeat -377px -66px;}
.button-6 span{border-bottom:1px solid rgba(255,255,255,0);}
.button-7{width:14px; height:17px; .i-b; position:relative;}
.button-7:before, .button-7:after{content:""; .full; background:url(../img/sprite-1.png) no-repeat -177px -78px; .transition;}
.button-7:after{opacity:0; z-index:1; background-position:-195px -78px;}
.button-8{min-width:210px; padding:0 20px;}
.button-8 span{padding:0 24px 0 0; position:relative; left:3px;}
.button-8 span:before, .button-8 span:after{content:""; width:14px; height:10px; margin:-4px 0 0; position:absolute; top:50%; right:0; .transition; background:url(../img/sprite-1.png) no-repeat -374px -38px;}
.button-8 span:after{opacity:0; z-index:1; background-position:-356px -38px;}
.button-8.active span:before, .button-8.active span:after{.rotate;}

/*! ------------------------------4. Шапка------------------------------*/
.header-top-wrapper{background:@base-bg-2;}
.header-top{min-height:47px; padding:0 0 0 200px; position:relative;}
.header-bottom-wrapper{background:@base-bg-1;}
.header-bottom{min-height:94px; padding:0 60px 0 200px; position:relative;}
.header-logo{width:201px; padding:0 0 4px; position:absolute; top:0; left:0; z-index:3; border-left:1px solid @base-bg-2; border-right:1px solid @base-bg-2; border-bottom:none;}
.header-logo:before{content:""; width:100%; height:5px; position:absolute; bottom:0; left:0; background:url(../img/logo-fix.png) center bottom no-repeat;}
.header-logo:after{content:""; width:2px; height:100%; position:absolute; top:0; right:0; background:@white;}
.header-logo__fix{.table;}
.header-logo__image{height:169px; padding:15px 20px; .table-cell(middle); overflow:hidden; background:@white;}
.header-logo__image img{max-width:100%; max-height:100%; margin:auto; position:relative; bottom:5px;}
.header-logo__image-2{display:none;}
.header-block{.table; white-space:nowrap;}
.header-title{.table-cell; padding:11px 0 0 58px; font:bold 16px/1.5 @font-1;}
.header-contacts{.table-cell; text-align:right;}
.header-contacts__number{position:relative; top:11px; font:bold 17px/1.5 @font-1; .color-2; border:none;}
.header-contacts__button{margin:0 0 0 37px;}
.header-basket{position:absolute; top:26px; right:8px; z-index:1; border-color:#919191;}
.header-basket:before{background-position:-297px -52px;}
.header-basket:after{background-position:-297px 0;}
.header-mobile__button, .header-nav__close{display:none;}
.header-nav__list{padding:34px 0 16px 58px;}
.header-nav__item{padding:0 0 5px; .i-b; .color-1;}
.header-nav__item:last-child:after{display:none;}
.header-nav__item:after{content:"•"; padding:0 30px; position:relative; top:1px; color:@red;}
.header-nav__link{.color-3;}
#mask{width:100%; height:100%; display:none; position:fixed; top:0; left:0; z-index:50; background:rgba(3,3,3,0.7);}

/*! ------------------------------5. Футер------------------------------*/
.footer{.absolute-2; z-index:2; background:@purple;}
.footer a{color:@purple-light;}
.footer-main{min-height:193px; padding:38px 15px 30px; position:relative; .font-small; color:@white;}
.footer-block{width:25%; min-height:1px; padding:0 15px; float:left;}
.footer-block:first-child{margin:0 0 0 25%;}
.footer-block:last-child .footer-info{padding:0 0 0 24px;}
.footer-block:last-child .footer-info:before{content:""; height:111px; position:absolute; top:4px; left:0; border-left:1px solid #48465d;}
.footer-abs{width:25%; min-height:1px; padding:0 15px; position:absolute; top:38px; left:15px;}
.footer-info{padding:0 20px 0 0; position:relative;}
.footer-info__copy{min-height:38px; padding:0 0 10px; font-weight:bold;}
.footer-info__adr{min-height:58px; padding:0; font:12px/1.8 @font-1;}
.footer-info__adr span{display:inline-block;}
.footer-info__label{min-height:40px; padding:0 0 10px;}
.footer-info__phone{min-height:56px; padding:0 0 10px; font:22px/1 @font-1; white-space:nowrap;}
.footer-info__number{color:@white !important; border:none;}
.footer-nav{padding:0 25px; position:relative;}
.footer-nav:before{content:""; height:111px; position:absolute; top:4px; left:-31px; border-left:1px solid #48465d;}
.footer-nav__list{padding:0;}
.footer-nav__item{min-height:32px;}

/*! ------------------------------6. Центральная часть------------------------------*/
/*! --------------------6.1 Главная--------------------*/
.main-page{position:relative; text-align:center;}
.ellip-line{display:inline-block;vertical-align:top;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;max-width:100%;}
.ellip, .ellip-line{position:relative;overflow:hidden;}

/*! слайдер */
.slider-1{position:relative; color:@white;}
.slider-1 .slick-button{width:56px; height:86px; top:0; right:-1px; z-index:2; opacity:1; background:@white;}
.slider-1 .slick-button:before, .slider-1 .slick-button:after{content:""; width:30px; height:19px; position:absolute; top:33px; background:url(../img/sprite-1.png) no-repeat; .transition;}
.slider-1 .slick-button:after{opacity:0; z-index:1;}
.slider-1 .slick-prev{right:55px;}
.slider-1 .slick-prev:before{left:15px; background-position:0 -54px;}
.slider-1 .slick-prev:after{left:15px; background-position:-68px -54px;}
.slider-1 .slick-next{background:@border-color-2;}
.slider-1 .slick-next:before{right:15px; background-position:-34px -54px;}
.slider-1 .slick-next:after{right:15px; background-position:-102px -54px;}
.slider-1__list{position:relative;}
.slider-1__item{min-height:577px; position:relative; .cover;}
.slider-1__title{max-width:620px; padding:0 0 16px; .title-1; position:relative; right:2px; z-index:2; color:@white;}
.slider-1__content-wrapper{position:relative;}
.slider-1__content{max-width:1084px; padding:139px 330px 50px 0; position:relative;}
.slider-1__desc{max-width:620px; padding:0 0 37px; position:relative; z-index:3;}
.slider-1__button{position:relative; z-index:3;}
.slider-1__text-wrapper{width:300px; position:absolute; top:104px; right:0;}
.slider-1__text{min-height:361px; padding:87px 28px 0; border:4px solid @white; font:18px/1.45 @font-1;}
.slider-1__text span{padding:0 0 2px; display:block; position:relative; right:2px; font:bold 121px/1 @font-1;}
.slider-1__buttons-wrapper{width:100%; position:absolute; top:104px; right:0;}
.slider-1__fix{max-width:1084px; position:relative;}

/*! каталог продукции */
.prod{padding:66px 0 38px;}
.prod__title{padding:0 0 42px; .title-2;}
.prod__list{padding:0 15px;}
.prod__item-wrapper{width:25%; float:left;}
.prod__item{margin:0 15px 30px; position:relative; padding:25px 27px 19px; border:1px solid @border-color-2;}
/*.prod__item:before{content:""; width:64px; position:absolute; background:url(../img/sprite-1.png) no-repeat;}
.prod__item_icon-1:before{width:69px; height:44px; bottom:23px; right:26px; background-position:0 0;}
.prod__item_icon-2:before{height:45px; bottom:26px; right:32px; background-position:-73px 0;}
.prod__item_icon-3:before{height:73px; bottom:21px; right:25px; background-position:-141px 0;}
.prod__item_icon-4:before{}*/
.prod__name-1{max-width:208px; margin:0 0 20px; padding:0 0 19px; border-bottom:2px solid @border-color-4; font:22px/1.4 @font-1;}
.prod__name-1 .prod__link{.color-2;}
.prod__name-2{padding:0 0 12px; font:@base-font-weight @base-font-size/1.55 @font-1;}
.prod__link{.color-3;}
.prod__item_icon{position: absolute;background-repeat: no-repeat;bottom:23px; right:26px;}
.prod__item_icon-2{right:32px;}
.prod__item_icon-3{bottom:21px;right:25px; }
.prod__item_icon-4{ bottom:24px;right:29px;}
/*! лидеры продаж */
.leaders{padding:58px 0 70px; background:@base-bg-2;}
.leaders__top{min-height:50px;}
.leaders__title{margin:0 90px 0 0; padding:0 0 20px; position:relative; top:7px; .title-2;}
.leaders__main{padding:0 15px;}
.slider-2{position:relative;}
.slider-2 .slick-button{width:40px; height:40px; top:-51px; right:15px; z-index:2; opacity:1; background:@white; border:1px solid @border-color-3;}
.slider-2 .slick-button:before, .slider-2 .slick-button:after{content:""; width:13px; height:20px; position:absolute; top:9px; left:12px; background:url(../img/sprite-1.png) no-repeat; .transition;}
.slider-2 .slick-button:after{opacity:0; z-index:1;}
.slider-2 .slick-prev{right:62px;}
.slider-2 .slick-prev:before{background-position:-209px -53px;}
.slider-2 .slick-prev:after{background-position:-245px -53px;}
.slider-2 .slick-next:before{background-position:-227px -53px;}
.slider-2 .slick-next:after{background-position:-263px -53px;}
.slider-2__list{padding:0;}
.catalog__item{margin:30px 15px; padding:32px 25px 10px; min-height:367px; background:@white; border:1px solid @border-color-2; .transition;}
.catalog__image{margin:0 0 31px; .table; table-layout:fixed; border:none;}
.catalog__fix{height:176px; .table-cell(middle); overflow:hidden;}
.catalog__fix img{max-width:100%; max-height:100%; margin:auto;}
.catalog__name{max-width:215px; height:61px; padding:0; font:@base-font-weight @base-font-size/1.4 @font-1;}
.catalog__link{.color-3;}
.catalog__bottom{min-height:40px; padding:0 61px 0 0; position:relative;}
.catalog__price{padding:0; font:bold 18px/1.45 @font-1; .color-2;}
.catalog__add{position:absolute; top:-6px; right:-5px;}

/*! --------------------6.2 Внутренние--------------------*/
.inner-top{.cover;}
.inner-top__main{min-height:154px; padding:49px 30px 10px; position:relative; color:@white;}
.inner-top__main h1{padding:0 0 2px; position:relative; right:2px; color:@white;}
.inner-top__left{padding:0 220px 0 0;}
.inner-top__select{position:absolute; top:62px; right:30px;}
.breadcrumbs{padding:0; font:12px/1.8 @font-1; color:@white;}
.breadcrumbs__item{margin:0 10px 0 0; padding:0 27px 0 0; .i-b; position:relative;}
.breadcrumbs__item:last-child{margin:0; padding:0;}
.breadcrumbs__item:last-child:after{display:none;}
.breadcrumbs__item:after{content:""; width:17px; height:11px; position:absolute; top:6px; right:0; background:url(../img/sprite-1.png) no-repeat -356px -66px;}
.breadcrumbs__link{color:@white; border-color:@white;}
.cat-sel{width:200px;}
.cat-sel__button{width:100%; height:49px; display:block; border-radius:3px; border:2px solid #f7f7f9; font:@base-font-size/46px @font-1; color:@white; text-align:left;}
.cat-sel__button span{padding:0 24px 0 21px; position:relative;}
.cat-sel__button span:before, .cat-sel__button span:after{content:""; width:14px; height:10px; margin:-4px 0 0; position:absolute; top:50%; right:0; background:url(../img/sprite-1.png) no-repeat -356px -38px; .transition;}
.cat-sel__button span:after{opacity:0; z-index:1; background-position:-356px -52px;}
.cat-sel__button.active{background:@white; color:@black; border-color:#f7f7f9; border-bottom:2px solid @white !important;}
.cat-sel__button.active span:before{opacity:0;}
.cat-sel__button.active span:after{opacity:1;}
.cat-sel__button.active span:before, .cat-sel__button.active span:after{.rotate;}
.cat-sel__list{width:100%; margin:-4px 0 0; position:absolute; top:100%; left:0; z-index:10; padding:5px 0; display:none; border-top:none; background:@white; border-radius:0 0 3px 3px; border:2px solid #f7f7f9; border-top:none;}
.cat-sel__item{padding:0 21px 12px; font-weight:bold;}
.cat-sel__link{display:block; border:none; color:@black;}

/*! --------------------6.2.1 Контакты--------------------*/
.contacts{position:relative; overflow:hidden;}
.contacts__title{margin:49px 0 59px; padding:0; position:relative; right:2px; z-index:2; color:@purple;}
.contacts__map{width:130%; height:100%; position:absolute; top:0; left:0;}
.ios .contacts__map:before{content:""; .full; z-index:1;}
.contacts__block{max-width:522px; margin:0 0 80px; padding:0 13px 0 12px; position:relative; z-index:2;}
.contacts__block:before, .contacts__block:after{content:""; width:100%; height:4px; position:absolute; bottom:100%; left:0; background:url(../img/contacts-fix-1.png) top right no-repeat;}
.contacts__block:after{top:100%; bottom:auto; background:url(../img/contacts-fix-2.png) top right no-repeat;}
.contacts__content{min-height:100px; padding:43px 33px 17px; background:@white;}
.contacts__content:before, .contacts__content:after{content:""; width:12px; height:100%; position:absolute; top:0; left:0; background:url(../img/contacts-fix-3.png) center right no-repeat;}
.contacts__content:after{width:13px; left:auto; right:0; background:url(../img/contacts-fix-4.png) center left no-repeat;}
a[title*='чтобы отобразить эту область в Картах Google']{display:none !important;}
.gm-style-cc, .gm-style-mtc{display:none;}
.gm-bundled-control{left:0 !important; right:auto !important;}
.contacts__info{max-width:409px; padding:30px 0 10px; border-top:2px solid @border-color-4;}
.contacts__phone{padding:0 0 32px; font:34px/1 @font-1; white-space:nowrap;}
.contacts__number{.i-b; color:@black;}
.contacts__adr{padding:0 0 11px;}
.contacts__link{height:49px; margin:0 0 20px; float:left; border:2px solid rgba(255,255,255,0) !important; font:@base-font-size/46px @font-1; color:@red;}
.contacts__link span{border-bottom:1px solid rgba(255,255,255,0);}
.contacts__button{height:49px; float:right; border-radius:5px; color:@red;}

/*! --------------------6.2.2 Каталог--------------------*/
.cat{padding:38px 15px 50px;}
.cat__sec{padding:0 0 16px;}
.cat__title{padding:0 15px 27px; .title-2;}
.cat__list{padding:0; overflow:hidden;}
.cat__item{width:20%; margin:0 0 33px; padding:0 15px; float:left;}
.cat__icon{padding:0 0 168px; position:relative; display:block; border:none;}
/*.cat__icon:before, .cat__icon:after{content:""; position:absolute; bottom:0; background:url(../img/sprite-2.png) no-repeat;}*/
.cat__icon-img{position:absolute; bottom:0;background-repeat: no-repeat;display: block;}
.cat__icon-img-1{position:absolute; bottom:0;background-repeat: no-repeat;display: block;opacity: 0;}
.cat__icon:hover{.cat__icon-img-1{opacity: 1;}.cat__icon-img{opacity: 0;}}
/*.cat__icon:after{opacity:0; z-index:1;}
.cat__icon_1:before, .cat__icon_1:after{width:142px; height:106px; left:11px; background-position:0 0;}
.cat__icon_1:after{background-position:0 -511px;}
.cat__icon_2:before, .cat__icon_2:after{width:170px; height:109px; left:3px; background-position:-146px 0;}
.cat__icon_2:after{background-position:-146px -511px;}
.cat__icon_3:before, .cat__icon_3:after{width:190px; height:134px; left:-6px; background-position:-320px 0;}
.cat__icon_3:after{background-position:-320px -511px;}
.cat__icon_4:before, .cat__icon_4:after{width:125px; height:126px; left:-6px; background-position:-514px 0;}
.cat__icon_4:after{background-position:-514px -511px;}
.cat__icon_5:before, .cat__icon_5:after{width:163px; height:144px; left:3px; background-position:-643px 0;}
.cat__icon_5:after{background-position:-643px -511px;}
.cat__icon_6:before, .cat__icon_6:after{width:99px; height:125px; left:4px; background-position:0 -142px;}
.cat__icon_6:after{background-position:0 -653px;}
.cat__icon_7:before, .cat__icon_7:after{width:155px; height:97px; left:1px; background-position:-104px -142px;}
.cat__icon_7:after{background-position:-104px -653px;}
.cat__icon_8:before, .cat__icon_8:after{width:130px; height:122px; left:10px; background-position:-264px -142px;}
.cat__icon_8:after{background-position:-264px -653px;}
.cat__icon_9:before, .cat__icon_9:after{width:132px; height:110px; left:7px; bottom:23px; background-position:0 -283px;}
.cat__icon_9:after{background-position:0 -794px;}
.cat__icon_10:before, .cat__icon_10:after{width:117px; height:110px; left:0; bottom:23px; background-position:-140px -283px;}
.cat__icon_10:after{background-position:-140px -794px;}
.cat__icon_11:before, .cat__icon_11:after{width:131px; height:92px; left:0; bottom:23px; background-position:-265px -283px;}
.cat__icon_11:after{background-position:-265px -794px;}
.cat__icon_12{padding:0 0 112px;}
.cat__icon_12:before, .cat__icon_12:after{width:157px; height:78px; left:6px; background-position:0 -411px;}
.cat__icon_12:after{background-position:0 -922px;}*/
.cat__name{height:45px; padding:0; font:18px/1.2 @font-1; border-bottom:2px solid @border-color-4; white-space:nowrap;}
.cat__link{color:@black; border:none;}

/*! --------------------6.2.3 Мясо--------------------*/
.meat{padding:0 0 40px;}
.meat__cols{padding:0 0 15px 30px;}
.meat__title{padding:0 0 31px; .title-2;}
.meat__content-wrapper{width:100%; margin:0 0 0 -270px; float:right;}
.meat__content{margin:0 0 0 300px; padding:41px 0 0;}
.meat__content .page-nav{margin:0 30px 0 0;}
.catalog__list{padding:0 0 18px;}
.catalog__list .catalog__item-wrapper{width:33.33%; margin:0 -4px 30px 0; .i-b; text-align:left;}
.catalog__list .catalog__item-wrapper:nth-child(3n){width:33.34%; margin-right:-10px;}
.catalog__list .catalog__item{margin:0 30px 0 0;}
.side-nav{width:270px; margin:49px 0 0; float:left; position:relative; z-index:1; border:4px solid @base-bg-2; line-height:1.4;}
.side-nav__list{padding:0;}
.side-nav__item:last-child .side-nav__link span{border:none;}
.side-nav__item:last-child .side-nav__link span{padding-bottom:25px;}
.side-nav__item:first-child .side-nav__link span{padding-top:23px;}
.side-nav__item.active .side-nav__link{color:@red; font-weight:bold;}
.side-nav__item.active .side-nav__link span:before{content:""; width:17px; height:11px; margin:-4px 0 0; position:absolute; top:50%; right:0; background:url(../img/sprite-1.png) no-repeat -377px -66px;}
.side-nav__link{padding:0 25px; display:block; color:@purple; border:none;}
.side-nav__link span{padding:22px 20px 22px 1px; display:block; position:relative; border-bottom:1px solid @border-color-2;}
.page-nav{min-height:35px; padding:0 150px; position:relative;}
.page-nav__list{padding:0; text-align:center;}
.page-nav__item{height:35px; margin:0 5.5px 15px; .i-b; font:14px/34px @font-1; text-align:center; color:#9f9f9f;}
.page-nav__item.active .page-nav__link{background:@red; border-color:@red; color:@white; cursor:default;}
.page-nav__item span{font:14px/36px @font-1;}
.page-nav__link{min-width:35px; height:35px; .i-b; font:14px/34px @font-1; color:#2c2c2c; border:1px solid @border-color-2;}
.page-nav__button{padding:0 0 0 29px; position:absolute; top:12px; left:0; font:14px/1 @font-1; text-transform:uppercase; color:@purple; border:none;}
.page-nav__button:before{content:""; width:17px; height:11px; margin:-5px 0 0; position:absolute; top:50%; left:-1px; background:url(../img/sprite-1.png) no-repeat -377px -66px;}
.page-nav__button_next{padding:0 29px 0 0; left:auto; right:-1px;}
.page-nav__button_next:before{left:auto; right:0; background-position:-356px -66px;}
.page-nav__text-2{display:none;}

/*! --------------------6.2.4 Скот на продажу--------------------*/
.sale{padding:0;}
.sale__main{padding:31px 0 20px 30px;}
.sale__sec{padding:0 0 17px; overflow:hidden;}
.sale__cols{overflow:hidden;}
.sale__cols .sale__item{width:50%;}
.sale__cols .sale__item:nth-child(4n){margin-right:-3.9px;}
.sale__cols .sale__item:nth-child(2n){margin-right:-10px;}
.sale__cols .sale__sec{width:50%; margin:0 -3.9px 0 0; .i-b;}
.sale__cols .sale__sec:nth-child(2n){margin-right:-10px;}
.sale__top{padding:0 30px 0 0;}
.sale__title{padding:0 0 30px; .title-2;}
.sale__list{padding:0;}
.sale__item{width:25%; margin:0 -3.9px 0 0; padding:0 30px 15px 0; .i-b; .font-small; color:@custom-color-1;}
.sale__item:nth-child(4n){margin-right:-10px;}
.sale__image{height:180px; margin:0 0 21px; display:block; .cover(center top); border:none;}
.sale__name{padding:0 0 8px; .title-4;}
.sale__link{color:@black;}
.sale__text{padding:0 0 21px;}
.sale__button{min-width:180px;}

/*! --------------------6.2.5 О нас--------------------*/
.inner-top__main_about{min-height:148px;}
.about{padding:0 0 44px 30px; color:@white; font:18px/1.7 @font-1;}
.about h2, .about h3, .about h4{color:@purple-xlight;}
.about__content{padding:0 30px 45px 0;}
.about__content h2{margin:0 0 5px;}
.about p{padding:0 0 18px;}
.advantages__title{padding:0 0 48px; .title-3;}
.advantages__list{min-height:400px; padding:0 0 50px;}
.advantages__item-wrapper{width:25%; margin:0 -3.9px 0 0; padding:0 0 30px; .i-b; position:relative; overflow:hidden; color:@white;}
.advantages__item-wrapper:nth-child(4n){margin-right:-10px;}
.advantages__item-wrapper:before{content:"0"counter(item, decimal); position:absolute; top:21px; right:53px; font:18px/1 @font-1; color:@purple-xlight;}
.advantages__item{min-height:276px; margin:0 30px 0 0; padding:166px 20px 10px 26px; position:relative; border:4px solid @white;}
.advantages__item:before{content:""; position:absolute; background:url(../img/sprite-3.png) no-repeat;}
.advantages__item_icon-1:before{width:76px; height:95px; top:34px; left:23px; background-position:0 0;}
.advantages__item_icon-2:before{width:96px; height:92px; top:36px; left:26px; background-position:-80px 0;}
.advantages__item_icon-3:before{width:90px; height:90px; top:41px; left:23px; background-position:-182px 0;}
.advantages__name{padding:0; font:18px/1.3 @font-1; color:@white !important;}
.advantages__name span{position:absolute; top:46px; left:25px; font:bold 80px/1 @font-1; .text-shadow(7px,7px,0,rgba(42,41,57,0.5));}
.slider-3{padding:100px 0;}
.slider-3 .slick-button{width:77px; height:28px; margin:-1px 0 0; position:absolute; top:50%; left:44px; z-index:2; opacity:1;}
.slider-3 .slick-button:before, .slider-3 .slick-button:after{content:""; .full; background:url(../img/sprite-3.png) no-repeat; .transition;}
.slider-3 .slick-button:after{opacity:0; z-index:1;}
.slider-3 .slick-prev:before{background-position:-278px 0;}
.slider-3 .slick-prev:after{background-position:-278px -64px;}
.slider-3 .slick-next:before{background-position:-278px -32px;}
.slider-3 .slick-next:after{background-position:-278px -96px;}
.slider-3 .slick-next{left:auto; right:44px;}
.slider-3__list{max-width:1160px; position:relative; overflow:visible;}
.slider-3__list .slick-list{overflow:visible;}
.slider-3__item{display:block !important; opacity:1 !important; overflow:hidden;}
.slider-3__image{height:517px; margin:0 85px; position:relative; display:block; overflow:hidden; border:none; .cover;}
.slider-3__image:before{content:""; width:500%; height:100%; position:absolute; bottom:0; left:0; z-index:1; box-shadow:0 -100px 50px -50px rgba(0,0,0,0.6) inset;}
.slider-3__title{padding:0 28px 31px; .absolute-2; z-index:2; font:18px/1.3 @font-1; color:@white;}

/*! --------------------6.2.6 Доставка и оплата--------------------*/
.delivery{padding:54px 30px 65px; font:18px/1.7 @font-1; color:@title-color}
.delivery__left{width:51%; max-width:515px; padding:0 15px 0 0; float:left;}
.delivery__right{width:49%; max-width:585px; padding:0 0 0 15px; float:right;}
.delivery__title{max-width:400px; margin:0 0 31px; padding:0; position:relative; .title-2;}
.delivery__title span{min-width:170px; padding:0 15px 0 0; .i-b; position:relative; z-index:1; background:@base-bg-1;}
.delivery__title:before{content:""; width:100%; margin:1px 0 0; position:absolute; top:50%; left:0; border-bottom:2px solid @border-color-4;}
.del{padding:6px 0 20px;}
.del__item{margin:0 0 24px; padding:0 0 0 49px; position:relative; font:16px/1.63 @font-1; color:@text-color;}
.del__item:before{content:""; width:28px; position:absolute; left:1px; background:url(../img/sprite-4.png) no-repeat;}
.del__item_icon-1:before{height:28px; top:6px; background-position:-52px 0;}
.del__item_icon-2:before{height:24px; top:8px; background-position:-52px -32px;}
.del__item_icon-3:before{height:27px; top:0; background-position:-52px -60px;}
.del__item span{padding:19px 0 0; display:block; color:@red;}
.payment{margin:4px 0 30px; padding:49px 200px 29px 66px; position:relative; border:4px solid @border-color-2; font:16px/1.63 @font-1; color:@text-color;}
.payment:before{content:""; width:129px; height:129px; position:absolute; top:45px; right:63px; background:@purple; border-radius:65px;}
.payment:after{content:""; width:46px; height:56px; position:absolute; top:80px; right:106px; z-index:1; background:url(../img/sprite-4.png) no-repeat;}
.payment__item{padding:0 0 22px; position:relative;}
.payment__item:before{content:"—"; position:absolute; top:0; left:-27px;}

/*! --------------------6.2.7 Корзина--------------------*/
.basket{padding:44px 30px 0;}
.basket__content p{max-width:740px;}
.basket__left-wrapper{width:100%; margin:0 -300px 0 0; float:left;}
.basket__left{max-width:800px; margin:0 330px 0 0; padding:0 0 40px;}
.basket__title{margin:0 0 35px; padding:0 0 23px; .title-2; border-bottom:1px solid @border-color-4;}
.basket__title span{color:@red;}
.basket__bottom{margin:14px 0 0; padding:30px 0 20px; border-top:1px solid @border-color-4;}
.basket__button{width:230px; min-width:0; padding:0; float:left; position:relative; z-index:1;}
.basket__socials{width:100%; margin:0 0 0 -230px; float:right;}
.basket__socials .socials{margin:0 0 0 270px;}
.basket__tel{color:@text-color;}

.socials__title{height:50px; padding:0 22px 0 0; .i-b; border:2px solid rgba(255,255,255,0); line-height:46px; font-weight:bold;}
.socials__list{padding:13px 0 0; .i-b; white-space:nowrap;}
.socials__item{margin:0 35px 15px 0; .i-b;}
.socials__item:last-child{margin-right:0;}
.socials__link{height:26px; .i-b; border:none;}
.socials__icon{.i-b; position:relative; top:50%;}
.socials__icon:before, .socials__icon:after{content:""; .full; background:url(../img/sprite-1.png) no-repeat;}
.socials__icon:after{opacity:0; z-index:1;}
.socials__icon_1{width:21px; height:13px; margin:-6px 6px 0 0;}
.socials__icon_1:before{background-position:0 -78px;}
.socials__icon_1:after{background-position:-54px -78px;}
.socials__icon_2{width:11px; height:20px; margin:-10px 9px 0 0;}
.socials__icon_2:before{background-position:-25px -78px;}
.socials__icon_2:after{background-position:-79px -78px;}
.socials__icon_3{width:10px; height:16px; margin:-8px 9px 0 0;}
.socials__icon_3:before{background-position:-40px -78px;}
.socials__icon_3:after{background-position:-94px -78px;}
.socials__text{min-width:30px; height:26px; padding:0 11px; position:relative; .i-b; font:bold 12px/24px @font-1; text-align:center; color:@title-color; border:1px solid @border-color-1; border-radius:2px;}
.socials__text_empty{color:#baacac;}
.socials__text:before{content:""; width:9px; height:11px; margin:-5px -1px 0 0; position:absolute; top:50%; right:100%; background:url(../img/sprite-1.png) no-repeat -108px -78px;}

.side-basket{width:300px; margin:2px 0 40px; padding:0 0 10px; float:right; position:relative; z-index:1; border:2px solid @border-color-2;}
.side-basket__title{padding:0 10px 0 27px; .title-4; background:@border-color-2;}
.side-basket__fix-1{.table;}
.side-basket__fix-2{height:72px; .table-cell(middle);}
.side-basket__list{padding:0 27px;}
.side-basket__item{.table;  font-size:14px;}
.side-basket__item:last-child{font-size:18px;}
.side-basket__item:last-child .side-basket__cell{border:none;}
.side-basket__item:last-child .side-basket__cell:last-child{padding-right:0;}
.side-basket__cell{padding:17px 5px; .table-cell; border-bottom:1px solid @border-color-2;}
.side-basket__cell:last-child{text-align:right;}
.side-basket__bottom{padding:3px 27px 17px;}
.side-basket__button{width:100%; min-width:0; margin:0; padding:0; display:block;}

.basket-table{padding:0 0 20px;}
.basket-table__main{.table;}
.basket-table__head, .basket-table__body{display:table-row-group;}
.basket-table__head .basket-table__cell{border-bottom:2px solid @border-color-4;}
.basket-table__body .basket-table__cell{padding:30px 15px 30px 0; border-bottom:1px solid @border-color-4; vertical-align:middle;}
.basket-table__body .basket-table__row:last-child .basket-table__cell{border-bottom:2px solid @border-color-4;}
.basket-table__body .basket-table__cell:last-child{padding-right:0;}
.basket-table__body .basket-table__label{display:none;}
.basket-table__row{.table-row;}
.basket-table__cell{.table-cell;}
.basket-table__cell_1{width:342px;}
.basket-table__cell_2{width:136px;}
.basket-table__cell_4{width:130px;}
.basket-table__label{padding:1px 0 13px; .color-4;}
.basket-table__hide-2{display:none;}
.basket-table__info{.table; table-layout:fixed;}
.basket-table__cell-in{.table-cell(middle);}
.basket-table__cell-in:first-child{width:125px;}
.basket-table__image{width:100px; height:100px; display:block; border:1px solid @border-color-2 !important; .cover;}
.basket-table__name{max-width:180px; padding:0 0 8px; font:14px/1.3 @font-1;}
.basket-table__cat{max-width:180px; padding:0; font:14px/1.3 @font-1;}
.basket-table__cat .basket-table__link{color:@link-color-2;}
.basket-table__link{color:#030303;}
.basket-table__price{padding:0; .title-4; white-space:nowrap;}
.basket-table__price span{ font-size: 14px; line-height: 17px; color: #585858; display: block; padding: 0 0 0 0; font-weight: 400;}
.basket-table__end{padding:0 18px 0 0; position:relative;}
.basket-table__remove{margin:-7px 0 0; position:absolute; top:50%; right:0;}
.basket-table__bottom-wrapper{padding:24px 0 0;}
.basket-table__bottom{.table;}
.basket-table__left{.table-cell;}
.basket-table__right{.table-cell; text-align:right;}
.basket-table__list-wrapper{.i-b;}
.basket-table__list{margin:2px 0 15px; padding:0; .table;}
.basket-table__char{.table-row;}
.basket-table__char:last-child{font-size:18px;}
.basket-table__text{padding:0 0 4px; .table-cell; text-align:left;}
.basket-table__text:first-child{padding:0 22px 4px 0; text-align:right;}
.basket-table__text:last-child{width:130px;}

.basket-form__sec{padding:0 0 42px;}
.basket-form__sec:last-child{padding:0 0 20px;}
.basket-form__title{margin:0 0 35px; padding:0 0 23px; .title-2; border-bottom:1px solid @border-color-4;}
.basket-form__title_fixed{margin:0 0 30px;}
.basket-form__item{.table; table-layout:fixed;}
.basket-form__item_fixed{margin:9px 0 0;}
.basket-form__label{width:216px; padding:10px 10px 0 0; .table-cell;}
.basket-form__label:after{content:":";}
.basket-form__label span{display:inline-block;}
.basket-form__ui{.table-cell;}
.basket-form__input{max-width:310px;}
.basket-form__area{height:100px; min-height:100px;}
.basket-form__small{padding:0 0 12px; position:relative; bottom:6px; font:12px/1.5 @font-1; color:#787878;}
.basket-form__line{margin:20px 0 41px; display:block; border-bottom:1px solid @border-color-4; border-top:none;}
.basket-form__radio{padding:0 0 24px;}
.basket-form__bottom{.table;}
.basket-form__left{width:300px; padding:50px 10px 0 0; .table-cell; border-top:1px solid @border-color-4;}
.basket-form__right{padding:53px 0 0; .table-cell; border-top:1px solid @border-color-4;}
.basket-form__button{min-width:240px;}
.basket-form__notice{padding:0; .font-small; .color-3;}

.plus-minus{min-width:130px; max-width:148px; height:50px; padding:0 43px; position:relative;}
.plus-minus__prev, .plus-minus__next{width:44px; height:100%; position:absolute; top:0; left:0; z-index:1; border-radius:4px 0 0 4px; border:1px solid @border-color-1;}
.plus-minus__prev:before, .plus-minus__next:before{content:""; width:16px; height:16px; margin:-8px 0 0 -8px; position:absolute; top:50%; left:50%; background:url(../img/sprite-1.png) no-repeat -137px -78px;}
.plus-minus__next{left:auto; right:0; border-radius:0 4px 4px 0;}
.plus-minus__next:before{background-position:-157px -78px;}
.plus-minus__input{width:100%; height:100%; padding:8px 5px; display:block; border-top:1px solid @border-color-1; border-bottom:1px solid @border-color-1; font:18px/1 @font-1; text-align:center; color:@title-color;}

/*! --------------------6.2.8 Карточка--------------------*/
.product{padding:39px 30px 0;}
.product__top{margin:0 0 59px;}
.product__left{width:500px; margin:11px 0 0; float:left; position:relative; z-index:1;}
.product__right-wrapper{width:100%; margin:0 0 0 -500px; float:right;}
.product__right{margin:0 0 0 539px;}
.product__info{margin:0 0 27px; padding:0 0 20px; border-bottom:2px solid @border-color-4;}
.product__info h2, .product__info h3{font:34px/1.3 @font-1;}
.product__info p{padding:0 0 15px;}
.product__with{padding:10px 0 0; font:14px/1.9 @font-1;.color-4}
.product__with h2, .product__with h3{padding:0 0 8px; font:bold 14px/1.9 @font-1;}
.product__price{padding:0 0 35px;}
.product__label{padding:0 0 3px; .font-small; .color-4;}
.product__numbers{padding:0; font:bold 32px/1.3 @font-1; .color-2;}
.product__amount{margin:0 41px 15px 0; .i-b;}
.product__button{min-width:240px; margin:0 0 15px;}
.product__call-popup{display:none;}
.gal{overflow:hidden; .user-select;}
.gal-1{height:500px; margin:0 0 19px; position:relative; overflow:hidden; border:1px solid @border-color-2;}
.gal-1__list{height:100%; padding:0;}
.gal-1 .slick-track, .gal-1 .slick-list, .gal-1__item{height:100%;}
.gal-1__image{width:100%; height:100%; display:table; table-layout:fixed; overflow:hidden; border:none;}
.gal-1__fix{height:100%; display:table-cell; vertical-align:middle; overflow:hidden;}
.gal-1__fix img{max-width:100%; max-height:499px; margin:auto; position:relative; z-index:1;}
.gal-1__icon{position:absolute; bottom:23px; right:22px; z-index:2;}
.gal-2__list{padding:0;} 
.gal-2__item{width:75px; height:75px; margin:0 20px 19px 0; position:relative; .i-b; cursor:pointer;}
.gal-2__item.active:after{opacity:1;}
.gal-2__item:before{content:""; .full; z-index:2; border:1px solid @border-color-2;}
.gal-2__item:after{content:""; .absolute-2; z-index:3; border-bottom:3px solid @red; opacity:0; .transition;}
.gal-2__image{.full; .cover;}
.gal-2__mask{.full; z-index:4; display:none; cursor:pointer;}
.recipe{padding:0 98px 85px 0; position:relative;}
.recipe__main{min-height:430px; padding:32px 0 38px 42px; border:4px solid @border-color-2;}
.recipe__article{max-width:560px; margin:0 410px 0 0;}
.recipe__video{position:absolute !important; top:55px; right:0;}
.recipe__title-1{padding:0 0 9px; .title-2;}
.recipe__title-2{padding:0 0 22px; font:bold @font-size-h4/@line-height-h4 @font-1; color:@red;}
.recipe__list{display:none; .font-small; .color-2;}
.recipe__item{min-height:44px; margin:0 0 25px; padding:0 0 0 66px; position:relative;}
.recipe__item:before{content:counter(item, decimal); min-width:44px; height:44px; position:absolute; top:2px; left:0; font:bold 14px/44px @font-1; text-align:center; color:@white; border-radius:15px; background:@purple;}
.recipe__button{margin:0 41px 10px 0;}
.recipe__socials{padding:13px 0 0; .i-b;}
.recipe__socials .socials__list{padding:0 !important;}
.make-up{margin:0 0 34px; padding:23px 0 0; border-top:2px solid @border-color-4; font:14px/1.9 @font-1; .color-4;}
.make-up__list{max-width:520px; padding:0;}
.make-up__item{width:50%; margin:0 -4.5px 0 0; padding:0 15px 0 0; .i-b;}
.make-up__item:after{content:";";}
.make-up__title{padding:0 0 5px; font:bold 14px/1.9 @font-1; .color-1}
.video{width:100%; max-width:480px; height:318px; position:relative; .cover;}
.video__frame{width:100% !important;height:100% !important;display:none;position:absolute;top:0;left:0;z-index:1}
.video__button{width:100%;height:100%;position:absolute;top:0;left:0;display:block;z-index:1}
.video__button:before{content:""; width:90px; height:69px; margin:-34px 0 0 -45px; position:absolute; top:50%; left:50%; background:url(../img/sprite-1.png) no-repeat -399px 0; .transition;}

/*! ------------------------------7. Плагины------------------------------*/
/*! --------------------7.1 Formstyler--------------------*/
.radio{overflow:hidden;}
.radio__item{padding:0 0 26px; .user-select;position:relative;text-align:left;}
.radio__item label{min-height:26px; padding:0 0 0 45px; .i-b; position:relative; cursor:pointer;}
.radio__item.disabled{opacity:0.5;}
.radio__item.disabled label, .radio__item.disabled .jq-radio{cursor:default;}
.radio__item .jq-radio{width:25px; height:25px; padding:6px; position:absolute !important; top:1px; left:0; .transition; border:2px solid @border-color-5; border-radius:13px;}
.radio__item .jq-radio:before{content:""; width:11px; height:11px; margin:-5.5px 0 0 -5.5px; position:absolute; top:50%; left:50%; opacity:0; .transition; background:url(../img/sprite-1.png) no-repeat -122px -78px;}
.radio__item.active .jq-radio{border-color:@red;}
.radio__item.active .jq-radio:before{opacity:1;}

/*! --------------------7.2 Slick--------------------*/
.slick-button{opacity:0; position:absolute;}
.slick-slider{display:block;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list, .slick-track{height:100%;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{}
.slick-vertical .slick-slide{display:block;border:1px solid transparent;}
.slick-dots{width:100%; padding:0; position:absolute;opacity:0; text-align:center; .transition;}
.slick-dots li{.i-b;}
.slick-dots li.slick-active button:before{opacity:0;}
.slick-dots li.slick-active button:after{opacity:1 !important;}
.slick-dots li button{display:block;position:relative;text-indent:-9999px; overflow:hidden;}
/*! --------------------7.3 Fancybox--------------------*/
.windows{display:none;}
.window{padding:15px; position:relative;}
.window__main{max-width:500px; margin:auto; padding:0 41px 24px; position:relative; z-index:1; background:@white;font:@base-font-weight @base-font-size/@base-line-height @font-1;color:@text-color;}
.window__main_article{max-width:100% !important;}
.window div{overflow:visible;}
.window img{max-width:100%;}
.window__top{padding:42px 0 34px; border-bottom:2px solid @border-color-4;}
.window__title{padding:0; .title-2;}
.window__form{min-height:186px; margin:0 0 35px; padding:36px 0 0; border-bottom:2px solid @border-color-4;}
.window__item{.table; margin:0 0 19px; table-layout:fixed;}
.window__item_area{display:block;}
.window__item:last-child{margin:0;}
.window__label{width:105px; padding:10px 10px 0 0; .table-cell;}
.window__label_area{width:auto; padding:4px 0 11px; display:block; font-weight:bold;}
.window__label:after{content:":";}
.window__ui{.table-cell;}
.window__ui_area{display:block;}
.window__input-wrapper{position:relative;}
.window__input{margin:0;}
.window__input_tel{padding-left:39px;}
.window__area{margin:0 0 35px; resize:none;}
.window__number{padding:10px 0 0; position:absolute; top:0; left:15px;}
.window__ok{padding:6px 0 0 57px; position:relative;}
.window__ok:before{content:""; width:35px; height:35px; position:absolute; top:9px; left:0; background:url(../img/sprite-1.png) no-repeat -346px 0;}
.window__ok_fixed:before{width:34px; height:34px; background-position:-401px -72px; top:3px; left:4px;}
.window__text-1{padding:0 0 7px; .title-3;}
.window__text-2{padding:0 0 10px; font:@base-font-weight @base-font-size/@base-line-height @font-1;}
.window__bottom{text-align:center;}
.window__link{display:none;}
.window__close{position:absolute; top:19px; right:19px; z-index:1;}
.window__submit{min-width:240px;}
.window__fix{.full;}
.window__content{margin:0 0 -4px; padding:37px 0 0;}
.window__content img{margin:0 0 22px;}
.window__basket{padding:28px 0 35px; border-bottom:2px solid @border-color-4;}
.window__basket p{padding:0 0 5px;}
.window__buttons{padding:40px 0 14px;}
.window__button-wrapper{width:50%; padding:0 7.5px 10px 0; float:left;}
.window__button-wrapper:nth-child(2n){padding:0 0 10px 7.5px;}
.window__button{width:100%; min-width:0; margin:0; display:block;}

.fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object{padding:0;margin:0;border:0;outline:0;vertical-align:top}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}
.fancybox-inner,.fancybox-outer,.fancybox-skin{position:relative}
.fancybox-opened{z-index:8030}
.fancybox-inner{overflow:hidden}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}
.fancybox-error{color:#000;margin:0;padding:15px;white-space:nowrap; font:20px/1.2 @font-1; background:@base-bg-2;}
.fancybox-iframe,.fancybox-image{display:block;width:100%;height:100%}
.fancybox-image{max-width:100%;max-height:100%}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;opacity:.8;cursor:pointer;z-index:8060}
#fancybox-loading div{width:44px;height:44px;background:url(../img/fancybox_loading.gif) center center no-repeat}
.fancybox-close{width:35px;height:35px;position:absolute;top:30px;right:30px;z-index:1;z-index:8040;background:@base-bg-1;border-radius:18px; border:none;}
.fancybox-close:before, .fancybox-close:after{content:""; width:17px; height:17px; margin:-8.5px 0 0 -8.5px; position:absolute; top:50%; left:50%; background:url(../img/sprite-1.png) no-repeat -325px 0; .transition;}
.fancybox-close:after{opacity:0; z-index:1;background-position:-325px -21px;}
.fancybox-nav{width:35px;height:35px; margin:-18px 0 0; cursor:pointer; position:absolute; top:50%; z-index:8040;text-indent:-9999px;overflow:hidden; background:@base-bg-1; border-radius:22px; border:none; opacity:1; .transition;}
.fancybox-prev{left:15px;}
.fancybox-next{right:15px;}
.fancybox-nav:before, .fancybox-nav:after{content:""; width:13px; height:20px; margin:-10px 0 0 -8px; position:absolute; top:50%; left:50%; background:url(../img/sprite-1.png) no-repeat -245px -76px; .transition;}
.fancybox-nav:after{opacity:0; z-index:1;}
.fancybox-prev:after{background-position:-211px -76px;}
.fancybox-next:before{margin:-10px 0 0 -6px; background-position:-263px -76px;}
.fancybox-next:after{margin:-10px 0 0 -6px; background-position:-229px -76px;}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important}
.fancybox-lock body{overflow:scroll!important}
.fancybox-margin{ margin-right: 0px!important}
.fancybox-lock{width:auto}
.fancybox-lock-test{overflow-y:hidden!important}
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:rgba(3,3,3,0.7);}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}
.fancybox-lock .fancybox-overlay{overflow:auto;/*overflow-y:scroll*/}
.fancybox-title{visibility:hidden;position:relative;text-shadow:none;z-index:8050}
.fancybox-opened .fancybox-title{visibility:visible}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:0 0;background:rgba(0,0,0,.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:@white;font-weight:700;line-height:24px;white-space:nowrap}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:@white}
.fancybox-title-inside-wrap{padding-top:10px}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:@white;padding:10px;background:#000;background:rgba(0,0,0,.8)}
.fancybox-type-inline .fancybox-inner{max-height:100% !important;overflow:visible !important;}
.fancybox-type-inline .fancybox-skin{background:none;box-shadow:none;}
.fancybox-type-inline .fancybox-close{display:none !important;}

/*!------------------------------8. Хаки------------------------------*/
@media screen and (-webkit-min-device-pixel-ratio:0){/* webkit */
.page-nav__item{line-height:26px;}
.news-nav .tabs-nav__title{line-height:30px;}
.rent-ads__item:before{line-height:32px;}
.filter-2__open{top:24px;}
.page-nav__button{text-shadow:0 0;}
.page-nav__button:before{margin:-6px 0 0;}
}
/* ie */
.ie .filter-item__text{top:8px;}
.ie .user-cab__add{line-height:28px;}
.ie .radio__item .jq-radio{top:0;}

/*!------------------------------9. Адаптация------------------------------*/
@media screen and (min-width:993px){/*! все ховеры */
a:hover{border-color:@red;}
.button-1:hover{background:@red; color:@white;}
.button-2:hover{background:@red-hover; border-color:@red-hover;}
.button-3:hover{background:@red;}
.button-3:hover:before{opacity:0;}
.button-3:hover:after{opacity:1;}
.button-4:hover{background:@purple-hover;}
.button-5:hover:before{opacity:0;}
.button-5:hover:after{opacity:1;}
.button-6:hover span{border-color:@red;}
.button-7:hover:before{opacity:0;}
.button-7:hover:after{opacity:1;}
.button-8:hover span:before{opacity:0;}
.button-8:hover span:after{opacity:1;}
.header-logo:hover{border-color:@base-bg-2;}
.header-basket:hover{border-color:@black; background:@white; 
    -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.header-basket:hover:before{opacity:1;}
.header-basket:hover:after{opacity:0;}
.footer a:hover{border-color:@purple-light;}
.footer-info__number:hover{border-color:@white !important;}
.slider-1 .slick-button:hover, .slider-2 .slick-button:hover{background:@purple;}
.slider-1 .slick-button:hover:before, .slider-2 .slick-button:hover:before, .slider-3 .slick-button:hover:before{opacity:0;}
.slider-1 .slick-button:hover:after, .slider-2 .slick-button:hover:after, .slider-3 .slick-button:hover:after{opacity:1;}
.slider-1 .slick-next{background:#3c3a4f;}
.slider-2 .slick-next{background:#3c3a4f;}
.slider-1 .slick-next:before {background-position: -102px -54px; opacity: 1!important;}
.slider-1 .slick-next:after { display: none;}
.catalog__link:hover, .prod__link:hover, .header-contacts__number:hover, .header-nav__link:hover{color:@black; border-color:#a3a3a3;}
.slider-2 .slick-next:after {background-position: -263px -53px!important; opacity: 1!important;}
.slider-2 .slick-next:before {background-position: -263px -53px!important; opacity: 1!important;}

.catalog__item:hover{.box-shadow;}
.contacts__link:hover span{border-color:@red;}
.contacts__number:hover{border-color:@black;}
.breadcrumbs__link:hover{border-color:rgba(255,255,255,0);}
.cat-sel__button:hover{background:@white; color:@black; border-color:#f7f7f9;}
.cat-sel__button:hover span:before{opacity:0;}
.cat-sel__button:hover span:after{opacity:1;}
.cat-sel__link:hover{color:@red;}
.cat__link:hover, .cat__icon:hover .cat__name{color:@red-dark;}
.cat__icon:hover:before{opacity:0;}
.cat__icon:hover:after{opacity:1;}
.side-nav__link:hover{color:@red;}
.page-nav__link:hover{border-color:@border-color-2; color:@red;}
.page-nav__button:hover{color:@red;}
.sale__link:hover{border-color:@black;}
.fancybox-close:hover:before, .fancybox-nav:hover:before{opacity:0;}
.fancybox-close:hover:after, .fancybox-nav:hover:after{opacity:1;}
.basket__tel:hover{border-color:@text-color;}
.socials__link:hover .socials__icon:before{opacity:0;}
.socials__link:hover .socials__icon:after{opacity:1;}
.basket-table__cat .basket-table__link:hover{border-color:@link-color-2;}
.basket-table__link:hover{border-color:#030303;}
.plus-minus__prev:hover, .plus-minus__next:hover{background:@border-color-2;}
.video__button:hover:before{opacity:0.9;}
}

@media screen and (max-width:1200px){
.header-title{padding:11px 0 0 30px;}
.header-nav__list{padding:34px 0 16px 30px;}
.cat__name_fixed span{display:none;}
.cat__name_fixed:before{content:"Мол.";}

.payment{padding:49px 170px 29px 55px;}
.payment:before{right:30px;}
.payment:after{right:73px;}

.basket-table__cell_2{width:auto;}
}
@media screen and (max-width:1150px){
.header-nav__item:after{padding:0 20px;}	
.slider-3 .slick-prev{left:15px;}
.slider-3 .slick-next{right:15px;}
.slider-3__image{height:500px; margin:0 80px;}

.basket-table__price{font-size:16px;}
.basket-table__cell_4{width:120px;}
.basket-table__text:last-child{width:120px;}

.product__right{margin:0 0 0 530px;}
.product__amount{margin:0 22px 15px 0;}
.recipe__button{margin:0 20px 10px 0;}
.socials__item{margin:0 20px 15px 0;}
.recipe__article{margin:0 330px 0 0;}
.recipe__video{max-width:400px;}
}

@media screen and (max-width:1100px){
.slider-1__title{font-size:50px;}
.header-nav__item:after{padding:0 15px;}
.footer-main{padding:38px 22.5px 30px;}
.footer-block{padding:0 7.5px;}
.footer-block:last-child .footer-info{padding:0;}
.footer-block:last-child .footer-info:before{left:-16px;}
.footer-abs{padding:0 7.5px; left:22.5px;}
.footer-info{padding:0 20px 0 0;}
.footer-nav{padding:0 15px 0 0;}
.footer-nav:before{left:-16px;}
.prod__list{padding:0 22.5px;}
.prod__item{margin:0 7.5px 30px; padding:25px 20px 19px;}
.slider-2__list{padding:0 7.5px;}
.catalog__item{margin:30px 7.5px; padding-left:20px; padding-right:20px;}
.catalog__list{padding:0 15px 33px 0;}
.catalog__list .catalog__item-wrapper{margin:0 -4px 15px 0;}
.catalog__list .catalog__item{margin:0 15px 0 0;}

.basket__left-wrapper{margin:0 -260px 0 0;}
.basket__left{margin:0 290px 0 0;}
.side-basket{width:260px;}
.side-basket__title{padding:0 10px 0 20px;}
.side-basket__list{padding:0 20px;}
.side-basket__bottom{padding:3px 20px 17px;}
.basket-table__cell-in:first-child{width:115px;}

.socials__item{margin:0 15px 15px 0;}

.product__left{width:450px;}
.product__right-wrapper{width:100%; margin:0 0 0 -450px; float:right;}
.product__right{margin:0 0 0 480px;}
.gal-1{height:450px;}
.gal-1__fix img{max-height:449px;}
.recipe__main{padding:32px 0 38px 30px;}
}
@media screen and (max-width:1050px){
.header-nav__item:after{padding:0 10px;}	

.footer-block{width:24%;}
.footer-block:first-child{margin:0 0 0 28%;}
.footer-abs{width:28%;}

.socials__title{padding:0 10px 0 0;} 
.basket__button{width:220px;}
.basket__socials{margin:0 0 0 -220px;}
.basket__socials .socials{margin:0 0 0 240px;}
}

@media screen and (max-width:992px){
h1{font-size:44px;}

/*! шапка */
.header-top{padding:0 0 0 160px;}
.header-bottom{min-height:70px; padding:0 45px 0 160px;}
.header-logo{width:160px;}
.header-logo__image{height:138px; padding:6px;}
.header-logo__image img{bottom:2px;}
.header-title{padding:0 0 0 15px; font:bold 14px/46px @font-1;}
.header-contacts__number{.i-b; top:auto; font:bold 14px/46px @font-1;}
.header-contacts__button{min-width:100px; margin:0 0 0 10px; padding:0 15px; font-size:14px;}
.header-basket{top:16px; right:0;}
.header-nav__list{padding:26px 0 16px 15px;}
.header-nav__item{padding:0 0 5px; font-size:14px;}
.header-nav__item:after{padding:0 7px;}
.header-nav__link{text-shadow:0 0;}

/*! футер */
.footer-main{min-height:190px; padding:38px 22.5px 30px; font-size:13px;}
.footer-block{width:23%; padding:0 7.5px;}
.footer-block:first-child{margin:0 0 0 30%;}
.footer-block:last-child{width:24%;}
.footer-abs{width:30%;}
.footer-info{padding:0 20px 0 0;}
.footer-info__copy{min-height:28px; padding:0 0 6px;}
.footer-info__adr{min-height:68px; font:12px/1.8 @font-1;}
.footer-info__phone{font:18px/1 @font-1; white-space:nowrap;}

/*! главная */
.slider-1__item{min-height:550px;}
.slider-1__content{padding:100px 300px 20px 0;}
.slider-1__desc{max-width:620px; padding:0 0 32px;}
.slider-1__text-wrapper{width:270px; top:70px;}
.slider-1__text{min-height:340px; padding:89px 28px 0;}
.slider-1__text span{padding:0 0 3px;font:bold 112px/1 @font-1;}
.slider-1__buttons-wrapper{top:70px;}
.slider-1__title{padding:2px 0 19px; font-size:44px;}
.prod{padding:35px 0 25px;}
.prod__title{padding:0 0 35px;}
.prod__item-wrapper{width:50%;}
.prod__item{margin:0 7.5px 15px;}
.prod__name-1{max-width:100%;}
.leaders{padding:35px 0 15px;}
.leaders__top{min-height:40px;}
.leaders__title{padding:0; top:auto;}
.slider-2 .slick-button{top:-41px;}
.contacts__block{max-width:480px;}
.contacts__title{margin:44px 0 32px; font-size:44px; right:1px;}
.contacts__map{width:160%;}
.inner-top__main{min-height:144px; padding:44px 30px 10px;}
.inner-top__main h1{padding:0 0 3px; right:1px;}
.inner-top__select{top:50px;}

/*! каталог */
.cat{padding:35px 15px 30px;}
.cat__sec{padding:0 0 16px;}
.cat__title{padding:0 15px 24px;}
.cat__item{width:33.33%;}
.cat__item:nth-child(3n){width:33.34%;}
.cat__name{height:45px; padding:0;}
.cat__name_fixed span{display:inline;}
.cat__name_fixed:before{display:none;}

/*! мясо */
.meat{padding:0 0 40px;}
.meat__cols{padding:0 0 15px 30px;}
.meat__title{padding:0 0 23px;}
.meat__content-wrapper{margin:0 0 0 -240px;}
.meat__content{margin:0 0 0 260px; padding:27px 0 0;}
.catalog__list{padding:0 15px 30px 0;}
.catalog__list .catalog__item-wrapper{width:50%;}
.catalog__list .catalog__item-wrapper:nth-child(3n){width:50%; margin-right:-4px;}
.catalog__list .catalog__item-wrapper:nth-child(2n){margin-right:-10px;}
.catalog__list .catalog__item{padding-left:20px; padding-right:20px;}
.page-nav__item{margin:0 2.5px 8px;}
.side-nav{width:240px; margin:35px 0 0;}
.side-nav__link{padding:0 20px;}

/*! скот на продажу */
.sale__cols .sale__item{width:50%;}
.sale__cols .sale__item:nth-child(4n){margin-right:-3.9px;}
.sale__cols .sale__item:nth-child(2n){margin-right:-10px;}
.sale__cols .sale__sec{width:auto; margin:0; display:block;}
.sale__cols .sale__sec:nth-child(2n){margin-right:0;}
.sale__title{padding:0 0 28px;}
.sale__list{padding:0;}
.sale__item{width:50%; margin:0 -3.9px 0 0; padding:0 30px 10px 0;}
.sale__item:nth-child(4n){margin-right:-3.9px;}
.sale__item:nth-child(2n){margin-right:-10px;}
.sale__sec{padding:0;}

/*! о нас */
.inner-top__main_about{min-height:120px;}
.about{padding:0 0 14px 30px;}
.about__content{padding:0 30px 15px 0;}
.about__content h2{margin:0;}
.advantages__title{padding:0 0 30px;}
.advantages__list{min-height:0; padding:0 15px 35px 0;}
.advantages__item-wrapper{width:50%; margin:0 -3.9px 0 0; padding:0 0 15px;}
.advantages__item-wrapper:nth-child(2n){margin-right:-10px;}
.advantages__item{min-height:260px; margin:0 15px 0 0;}
.advantages__name{max-width:260px;}
.slider-3{padding:50px 0;}
.slider-3__image{height:450px;}

/*! доставка и оплата */
.delivery{padding:31px 30px 15px;}
.delivery__left{width:auto; max-width:100%; padding:0; float:none;}
.delivery__right{width:auto; max-width:100%; padding:0; float:none;}
.delivery__title{max-width:100%; margin:0 0 15px;}
.del{padding:0 0 12px;}
.payment{margin:4px 0 30px; padding:42px 200px 19px 45px;}
.payment:before{top:41px; right:53px;}
.payment:after{top:76px; right:96px;}

/*! корзина */
.basket{padding:35px 30px 0;}
.basket__content p{max-width:100%; padding:0 0 18px;}
.basket__left-wrapper{margin:0 -240px 0 0;}
.basket__left{margin:0 260px 0 0;}
.basket__title{margin:0 0 35px; padding:0 0 23px;}
.basket__bottom{margin:14px 0 0; padding:30px 0 20px;}
.basket__button{width:220px;}
.basket__socials{width:100%; margin:0 0 0 -220px; float:right;}
.basket__socials .socials{margin:0 0 0 235px;}

.socials__title{height:auto; padding:0 0 4px; display:block; position:relative; bottom:4px; line-height:1;}
.socials__list{padding:0;}
.socials__item{margin:0 12px 12px 0;}

.side-basket{width:240px; margin:2px 0 30px; padding:0 0 10px;}
.side-basket__title{font-size:16px;}
.side-basket__fix-2{height:60px;}
.side-basket__list{padding:0 20px;}
.side-basket__bottom{padding:3px 20px 17px;}

.basket-table{padding:0 0 10px;}
.basket-table__body .basket-table__cell{padding:20px 10px 20px 0;}
.basket-table__cell_1{width:auto;}
.basket-table__cell_2{width:auto;}
.basket-table__cell_4{width:105px;}
.basket-table__label{padding:1px 0 11px; font-size:14px;}
.basket-table__hide-1{display:none;}
.basket-table__hide-2{display:inline;}
.basket-table__cell-in:first-child{width:80px;}
.basket-table__cell-in br{display:none;}
.basket-table__image{width:70px; height:70px;}
.basket-table__price{font-size:15px;}
.basket-table__bottom-wrapper{padding:20px 0 0; font-size:15px;}
.basket-table__text:first-child{padding:0 10px 4px 0;}
.basket-table__text:last-child{width:105px;}
.basket-table__char:last-child{font-size:17px;}

.basket-form__sec{padding:0 0 20px;}
.basket-form__sec:last-child{padding:0 0 5px;}
.basket-form__title{margin:0 0 30px;}
.basket-form__label{width:165px;}
.basket-form__line{margin:10px 0 30px;}
.basket-form__radio{padding:0 0 10px;}
.basket-form__left{width:220px; padding:35px 10px 0 0;}
.basket-form__right{padding:38px 0 0;}
.basket-form__button{min-width:200px;}
.basket-form__notice{padding:2px 0 0; font-size:12px;}

.basket-table .plus-minus{min-width:75px; max-width:148px; height:30px; padding:0 24px;}
.basket-table .plus-minus__prev, .basket-table .plus-minus__next{width:25px;}
.basket-table .plus-minus__prev:before, .basket-table .plus-minus__next:before{width:10px; height:10px; margin:-5px 0 0 -5px; background-position:-160px -81px;}
.basket-table .plus-minus__prev:before{background-position:-140px -81px;}
.basket-table .plus-minus__input{padding:8px 5px; font:15px/1 @font-1;}

/*! карточка */
.product{padding:35px 30px 0;}
.product__top{margin:0 0 30px;}
.product__left{width:400px;}
.product__right-wrapper{margin:0 0 0 -400px;}
.product__right{margin:0 0 3px 430px;}
.product__info{margin:0 0 29px; padding:0 0 17px;}
.product__info h2, .product__info h3{margin:2px 0 0; font:30px/1.3 @font-1;}
.product__info p{padding:0 0 13px;}
.product__with{padding:10px 0 0;}
.product__with h2, .product__with h3{margin:0;font:bold 14px/1.9 @font-1;}
.product__price{padding:0 0 25px;}
.product__numbers{font:bold 28px/1.3 @font-1;}
.product__amount{margin:0 15px 15px 0;}
.product__button{min-width:220px;}
.gal-1{height:400px; margin:0 0 15px;}
.gal-1__fix img{max-height:399px;}
.gal-1__icon{bottom:15px; right:15px;}
.gal-2__item{width:70px; height:70px; margin:0 11px 15px 0;}
.recipe{padding:0 30px 45px 0;}
.recipe__main{min-height:430px; padding:27px 0 24px 20px;}
.recipe__article{max-width:100%; margin:0 310px 0 0;}
.recipe__video{max-width:320px; top:44px;}
.recipe__title-1{padding:0 0 9px;}
.recipe__title-2{padding:0 0 22px;}
.recipe__item{margin:0 0 20px; padding:0 0 0 60px;}
.make-up{margin:0 0 29px;}
.video{height:280px;}
}
@media screen and (max-width:900px){
.product__amount{max-width:130px; margin:0 10px 15px 0;}
.product__button{min-width:190px; padding:0 14px; font-size:15px;}	
}
@media screen and (max-width:850px){
.header-title{font:bold 13px/46px @font-1;}
.header-contacts__number{font:bold 13px/46px @font-1;}
.header-contacts__button{font-size:13px;}
.header-nav__item{font-size:13px;}
.header-nav__item:after{padding:0 3px;}

.page-nav{padding:0 80px;}
.page-nav__text-1{display:none;}	
.page-nav__text-2{display:inline;}

.basket-table__label{font-size:13px; text-shadow:0 0;}
.basket-table__cell_4{width:88px;}
.basket-table__cell-in:first-child{width:57px;}
.basket-table__image{width:47px; height:47px;}
.basket-table__price{font-size:13px;}
.basket-table__bottom-wrapper{padding:20px 0 0; font-size:15px;}
.basket-table__text:first-child{padding:0 10px 4px 0;}
.basket-table__text:last-child{width:88px;}
.basket-table__char:last-child{font-size:16px;}
.basket-table__name{padding:0 0 6px; font:13px/1.3 @font-1;}
.basket-table__cat{font:13px/1.3 @font-1;}
.basket__left-wrapper{margin:0 -225px 0 0;}
.basket__left{margin:0 245px 0 0;}
.side-basket{width:225px;}
.side-basket__title{padding:0 10px 0 15px; font-size:16px;}
.side-basket__list{padding:0 15px;}
.side-basket__bottom{padding:3px 15px 17px;}
.side-basket__item:last-child{font-size:17px;}
.basket-form__notice{padding:0; position:relative; bottom:5px;}
.basket-form__notice br{display:none;}

.product__left{width:330px;}
.product__right-wrapper{margin:0 0 0 -330px;}
.product__right{margin:0 0 3px 350px;}
.gal-1{height:330px;}
.gal-1__fix img{max-height:329px;}
.make-up__title{font-size:13px;}
.make-up__item{width:54%; font-size:12px; text-shadow:0 0;}
.make-up__item:nth-child(2n){width:46%;}
.recipe__item{font-size:13px;}
}
@media screen and (max-width:767px){	
body{font-size:@base-font-size-mob;}
.wrapper{padding-left:15px; padding-right:15px;}
h1{font-size:@font-size-h1-mob; line-height:@line-height-h1-mob;}
h2{font-size:@font-size-h2-mob; line-height:@line-height-h2-mob;}
h3{font-size:@font-size-h3-mob; line-height:@line-height-h3-mob;}
h3, h4, h5{font-size:@font-size-h4-mob; line-height:@line-height-h4-mob;}
.input-1, .textarea-1, .button-1, .button-2{font-size:@base-font-size-mob;}

/*! шапка */
.header-center{padding:0;}
.header-top{padding:0 0 0 130px;}
.header-bottom{min-height:64px; padding:0 45px 0 130px;}
.header-logo{width:130px;}
.header-logo__image{height:120px; padding:12px 15px;}
.header-logo__image img{bottom:auto;}
.header-logo__image-1{display:none;}
.header-logo__image-2{display:block;}
.header-title{padding:0 0 0 15px;}
.header-contacts__number{.i-b; top:auto;}
.header-contacts__button{min-width:100px; margin:0 0 0 10px; padding:0 15px;}
.header-basket{top:12px; right:15px;}
.header-nav__list{max-width:400px; padding:10px 0 5px 15px;}
.header-nav__item{padding:0;}
.header-nav__item:nth-child(3):after{display:none;}
.header-nav__item:after{padding:0 12px;}

/*! футер */
.footer-main{margin:0 15px; padding:32px 0 30px; overflow:hidden;}
.footer-block{width:50% !important; min-height:0 !important; margin:0 -4.5px 21px 0; padding:0; position:relative; float:none; .i-b;}
.footer-block:first-child{margin:0;}
.footer-block:first-child:after{content:""; width:300%; position:absolute; top:100%; left:0; border-bottom:1px solid #48465d;}
.footer-block:last-child{margin-bottom:0;}
.footer-block:last-child .footer-info{padding:0;}
.footer-block:last-child .footer-info:before{display:none;}
.footer-block:nth-child(2n){position:relative; left:3px;}
.footer-abs{width:50%; min-height:0 !important; padding:0; position:relative; top:auto; left:auto; .i-b;}
.footer-info{padding:0 20px 0 0; position:relative;}
.footer-info__copy{min-height:31px; padding:0 0 10px;}
.footer-info__adr{min-height:0; padding:0 0 12px; font:12px/1.7 @font-1;}
.footer-info__label{min-height:32px; padding:0 0 10px;}
.footer-info__phone{min-height:0; padding:0 0 15px; font:16px/1 @font-1;}
.footer-info__number{color:@white !important;}
.footer-nav{padding:0 0 10px; position:relative;}
.footer-nav:before{display:none;}
.footer-nav__list{padding:0;}
.footer-nav__item{min-height:0; padding:0 0 12px;}

/*! главная */
.slider-1 .slick-button{width:56px; height:86px; top:auto; bottom:0;}
.slider-1__item{min-height:0;}
.slider-1__title{max-width:600px; padding:0 0 16px; .title-1-mob; right:1px;}
.slider-1__content{max-width:100%; min-height:470px; padding:32px 0 115px 0;}
.slider-1__desc{max-width:600px; padding:0 0 28px;}
.slider-1__text-wrapper{width:100%; max-width:360px; padding:0 15px; top:auto; bottom:15px; right:15px; border:none;}
.slider-1__text-wrapper span{padding:3px 0 2px; display:block; position:relative; right:2px; font:bold 28px/1 @font-1;}
.slider-1__text{min-height:86px; padding:0 120px 0 15px; font:13px/1.45 @font-1;}
.slider-1__buttons-wrapper{top:auto; bottom:15px; right:0;}

.prod{padding:28px 0 19px;}
.prod__title{padding:0 0 26px; .title-2-mob;}
.prod__list{padding:0 7.5px;}
.prod__item-wrapper{width:50%;}
.prod__item{margin:0 7.5px 15px;}
.prod__name-1{max-width:100%;}
.prod__name-2{font-size:@base-font-size-mob;}

.leaders{padding:22px 0 19px;}
.leaders__top{min-height:45px;}
.leaders__title{padding:0; top:5px; .title-2-mob;}
.leaders__main{padding:0 7.5px;}
.slider-2{position:relative;}
.slider-2 .slick-button{top:-46px; right:7.5px;}
.slider-2 .slick-prev{right:55px;}
.slider-2__list{padding:0;}
.catalog__item{min-height:310px; margin:15px 7.5px; padding:22px 15px 10px;}
.catalog__image{margin:0 0 22px;}
.catalog__name{max-width:215px; height:57px; padding:0; font:@base-font-weight @base-font-size-mob/1.4 @font-1;}
.catalog__bottom{min-height:40px; padding:0 61px 0 0; position:relative;}
.catalog__price{padding:0; font:bold 18px/1.45 @font-1; .color-2;}
.catalog__add{position:absolute; top:-6px; right:0;}

/* верхняя часть внутренних */
.inner-top__main{min-height:109px; padding:32px 15px 18px;}
.inner-top__main h1{padding:0 0 4px;}
.inner-top__left{padding:0 200px 0 0;}
.inner-top__select{top:30px; right:15px;}
.cat-sel{width:190px;}
.cat-sel__button span{padding:0 24px 0 15px;}
.cat-sel__item{padding:0 15px 12px;}

/*! контакты */
.contacts__title{margin:32px 0 32px; .title-1-mob;}
.contacts__map{width:100%; height:158%;}
.contacts__block{max-width:480px; margin:0 0 300px; padding:0 13px 0 12px;}
.contacts__content{padding:22px 14px 0;}
.contacts__info{max-width:100%; padding:25px 0 10px;}
.contacts__phone{padding:0 0 22px; .title-2-mob;}
.contacts__adr{max-width:380px; padding:0 0 11px;}
.contacts__link{margin:0 0 20px; font-size:@base-font-size-mob;}
.contacts__button{min-width:150px; padding:0;}

/*! попапы */
.window__main{max-width:350px; padding:0 15px 10px;font-size:@base-font-size-mob;}
.window__top{padding:25px 0;}
.window__title{.title-2-mob;}
.window__form{min-height:210px; margin:0 0 25px; padding:20px 0 0;}
.window__item{margin:0 0 15px; display:block;}
.window__label{width:auto; padding:0 0 5px; display:block;}
.window__ui{display:block;}
.window__number{padding:11px 0 0;}
.window__ok{margin:26px 0 0; padding:6px 0 0 50px;}
.window__text-1{padding:0 0 7px; .title-4-mob;}
.window__text-2{font-size:@base-font-size-mob;}
.window__text-2 br{display:none;}
.window__close{top:15px; right:15px;}
.window__submit{min-width:220px;}
.window__area{margin:0 0 25px;}
.window__content{padding:30px 0 0;}
.window__basket{padding:22px 0 20px;}
.window__buttons{padding:25px 0 14px;}
.window__button-wrapper{width:auto; padding:0 0 10px !important; float:none;}

/*! каталог */
.cat{padding:30px 7.5px 10px;}
.cat__sec{padding:0 0 14px;}
.cat__title{padding:0 7.5px 21px; .title-2-mob;}
.cat__item{width:33.33%; margin:0 0 30px; padding:0 7.5px;}
.cat__item:nth-child(3n){width:33.34%;}
.cat__icon{padding:0 0 155px;}
.cat__name{height:35px; padding:0; font:@font-size-h4-mob/1.2 @font-1;}
.cat__name_fixed span{display:inline;}
.cat__name_fixed:before{display:none;}
.cat__icon_9, .cat__icon_10, .cat__icon_11{padding:0 0 140px;}
.cat__icon_12{padding:0 0 110px;}
.cat__icon_9:before, .cat__icon_9:after, .cat__icon_10:before, .cat__icon_10:after, .cat__icon_11:before, .cat__icon_11:after{bottom:0;}

/*! мясо */
.meat{padding:0 0 30px;}
.meat__cols{padding:30px 0 10px 15px;}
.meat__title{padding:0 0 28px; .title-2-mob;}
.meat__content-wrapper{width:auto; margin:0; float:none;}
.meat__content{margin:0; padding:30px 0 0;}
.meat__content .page-nav{margin:0 15px 0 0;}
.catalog__list{padding:0 0 15px;}
.catalog__list .catalog__item-wrapper{margin:0 -4px 15px 0;}
.catalog__list .catalog__item{margin:0 15px 0 0; padding-left:15px; padding-right:15px;}
.side-nav{width:auto; margin:0 15px 0 0; float:none;}
.side-nav__item:last-child .side-nav__link span{padding-bottom:22px;}
.side-nav__item:first-child .side-nav__link span{padding-top:21px;}
.side-nav__item.active .side-nav__link span:before{margin:-5px 0 0;}
.side-nav__link{padding:0 15px;}
.side-nav__link span{padding:20px 0;}
.page-nav{padding:0 80px;}
.page-nav__item{margin:0 2.5px 8px;}

/*! скот на продажу */
.sale{padding:0 0 20px;}
.sale__main{padding:30px 0 0 15px;}
.sale__top{padding:0 15px 0 0;}
.sale__title{padding:0 0 28px; .title-2-mob;}
.sale__list{padding:0;}
.sale__item{padding:0 15px 10px 0;}
.sale__sec{padding:0;}
.sale__name{.title-4-mob;}

/*! о нас */
.inner-top__main_about{min-height:100px;}
.about{padding:0 0 5px 15px; font:16px/1.6 @font-1;}
.about__content{padding:0 15px 10px 0;}
.about p{padding:0 0 18px;}
.advantages__title{padding:0 0 25px;}
.advantages__list{padding:0 0 10px;}
.advantages__item-wrapper:before{top:15px; right:32px; font:16px/1 @font-1;}
.advantages__item{min-height:205px; margin:0 15px 0 0; padding:130px 15px 0;}
.advantages__item_icon-1:before{top:23px; left:15px;}
.advantages__item_icon-2:before{top:23px; left:15px; background-position:-80px 0;}
.advantages__item_icon-3:before{top:26px; left:15px; background-position:-182px 0;}
.advantages__name{max-width:230px; padding:0; font:16px/1.4 @font-1;}
.advantages__name span{top:33px; left:15px; font:bold 75px/1 @font-1;}
.slider-3{padding:30px 0;}
.slider-3__list{padding:0;}
.slider-3 .slick-button{width:27px; height:17px; margin:-8px 0 0; left:0; z-index:2; opacity:1;}
.slider-3 .slick-prev:before{background-position:-227px -96px;}
.slider-3 .slick-next:before{background-position:-196px -96px;}
.slider-3 .slick-next{left:auto; right:0;}
.slider-3__image{height:350px; margin:0 30px;}
.slider-3__title{padding:0 15px 15px; .absolute-2; font:16px/1.3 @font-1; color:@white;}

/*! доставка и оплата */
.delivery{padding:30px 15px 15px; font:16px/1.6 @font-1;}
.delivery__title{margin:0 0 18px; padding:0; .title-2-mob;}
.delivery__title span{min-width:140px;}
.delivery__title:before{margin:0;}
.del{padding:0 0 15px;}
.del__item{margin:0 0 18px; padding:0 0 0 43px; font:15px/1.63 @font-1;}
.del__item_icon-1:before{top:5px;}
.del__item_icon-2:before{top:7px;}
.del__item_icon-3:before{top:-1px;}
.del__item span{padding:12px 0 0;}
.payment{margin:0 0 20px; padding:30px 130px 12px 39px; font:15px/1.63 @font-1;}
.payment:before{width:100px; height:100px; margin:-50px 0 0; top:50%; right:15px;}
.payment:after{margin:-28px 0 0; top:50%; right:45px;}
.payment__item{padding:0 0 18px;}
.payment__item:before{left:-24px;}

/*! корзина */
.basket{padding:30px 15px 20px;}
.basket__content p{padding:0 0 12px;}
.basket__left-wrapper{width:auto; margin:0; float:none;}
.basket__left{max-width:100%; margin:0; padding:0;}
.basket__title{margin:0 0 22px; padding:0 0 18px; .title-2-mob;}
.basket__bottom{margin:14px 0 0; padding:30px 0 20px;}
.basket__button{width:230px; margin:0 15px 8px 0; float:none; .i-b;}
.basket__socials{width:auto; margin:0; padding:12px 0 0; float:none; .i-b;}
.basket__socials .socials{margin:0;}

.socials__title{height:auto; padding:9px 15px 9px 0; .i-b; border:none; line-height:1;}
.socials__list{padding:0;}
.socials__item{margin:0 15px 15px 0;}

.side-basket{width:auto; margin:0 0 20px; padding:0 0 8px; float:none;}
.side-basket__title{padding:0 10px 0 15px; .title-4-mob;}
.side-basket__fix-2{height:60px;}
.side-basket__list{padding:0 15px;}
.side-basket__item{.table;  font-size:14px;}
.side-basket__item:last-child{font-size:17px;}
.side-basket__cell{padding:14px 5px;}
.side-basket__bottom{padding:5px 15px 17px;}

.basket-table{padding:0 0 20px;}
.basket-table__main{display:block;}
.basket-table__head{display:none;}
.basket-table__body{display:block;}
.basket-table__body .basket-table__cell{padding:0 0 15px; border-bottom:none !important; vertical-align:top;}
.basket-table__body .basket-table__label{display:block;}
.basket-table__row{margin:0 0 23px; padding:0 0 15px; display:block; position:relative; border-bottom:2px solid @border-color-4;}
.basket-table__row:last-child{margin:0;}
.basket-table__cell{width:31%; margin:0 -4.5px 0 0; display:inline-block; vertical-align:top;}
.basket-table__cell_1{width:auto; margin:0; display:block;}
.basket-table__cell_2{padding-right:15px;}
.basket-table__cell_3{width:38%;}
.basket-table__label{padding:0 0 8px; font-size:14px; text-shadow:none;}
.basket-table__label:after{content:":";}
.basket-table__cell-in:first-child{width:115px;}
.basket-table__image{width:100px; height:100px;}
.basket-table__name{max-width:100%; padding:0 0 6px; font:14px/1.3 @font-1;}
.basket-table__cat{max-width:100%; font:14px/1.3 @font-1;}
.basket-table__price{margin:0; .title-4-mob; position:relative; bottom:6px;}
.basket-table__end{padding:0 18px 0 0;}
.basket-table__remove{margin:0; position:absolute; top:0; right:0;}

.basket-table__bottom-wrapper{padding:0;}
.basket-table__bottom{display:block;}
.basket-table__left{padding:0 0 11px; display:block; position:relative; bottom:4px;}
.basket-table__right{display:block; text-align:left;}
.basket-table__list-wrapper{display:block;}
.basket-table__list{margin:0; padding:0;}
.basket-table__char:last-child{font-size:18px;}
.basket-table__text:first-child{width:100px; padding:0 15px 4px 0; text-align:left;}
.basket-table__text:last-child{width:auto;}

.basket-form__sec{padding:0 0 15px;}
.basket-form__sec:last-child{padding:0 0 15px;}
.basket-form__title{margin:0 0 22px; padding:0 0 18px; .title-2-mob;}
.basket-form__item{display:block;}
.basket-form__item_fixed{margin:0;}
.basket-form__label{width:auto; padding:0 0 5px; display:block;}
.basket-form__ui{display:block;}
.basket-form__input{max-width:100%; margin:0 0 15px;}
.basket-form__area{margin:0 0 15px;}
.basket-form__small{padding:0 0 12px; bottom:auto; font-size:13px;}
.basket-form__line{margin:8px 0 16px;}
.basket-form__radio{padding:0 0 8px;}
.basket-form__bottom{margin:0 0 15px; padding:15px 0 0; display:block; border-top:1px solid @border-color-4;}
.basket-form__left{width:auto; padding:10px 0 0; display:block; border:none;}
.basket-form__right{padding:10px 0 0; display:block; border:none;}
.basket-form__button{min-width:100%;}
.basket-form__notice{padding:0;}

.basket-table .plus-minus{min-width:110px !important; max-width:130px !important; height:40px !important; padding:0 37px !important;}
.basket-table .plus-minus__prev, .basket-table .plus-minus__next{width:38px !important;}
.plus-minus__input{font:16px/1 @font-1 !important;}

.radio__item{padding:0 0 15px;}
.radio__item label{min-height:26px; padding:0 0 0 37px;}
.radio__item .jq-radio{top:0;}

/*! карточка */
.product{padding:30px 15px 0;}
.product__top{margin:0 0 15px;}
.product__left{width:auto; padding:4px 0 0; float:none;}
.product__right-wrapper{width:auto; margin:0; float:none;}
.product__right{margin:0;}
.product__info{margin:0 0 26px; padding:0 0 17px;}
.product__info h2, .product__info h3{margin:0; .title-2-mob;}
.product__info p{padding:0 0 10px;}
.product__with{padding:8px 0 0;}
.product__with h2, .product__with h3{font:bold 14px/1.9 @font-1;}
.product__price{padding:0 0 22px;}
.product__numbers{.title-2-mob;}
.product__amount{max-width:140px; margin:0 15px 15px 0;}
.product__button{min-width:220px;}
.gal-1{ height:400px;}
.gal-1__fix img{max-height:399px;}
.recipe{padding:0 0 30px;}
.recipe__main{min-height:430px; padding:27px 15px 20px 15px;}
.recipe__article{margin:0;}
.recipe__video{max-width:100%; top:auto; position:relative !important;}
.recipe__title-1{padding:0 0 7px; .title-2-mob;}
.recipe__title-2{padding:0 0 20px; .title-4-mob;}
.recipe__list{margin:0 0 -12px;}
.recipe__item{margin:0 0 18px; padding:0 0 0 51px;}
.recipe__item:before{min-width:36px; height:36px; border-radius:10px; font:14px/36px @font-1;}
.make-up{margin:0 0 22px; border:none;}
.make-up__title{font-size:14px;}
.make-up__item{font-size:14px; text-shadow:none;}
.video{height:280px;}
}
@media screen and (max-width:650px){
.header-title{padding:5px 0 0 15px; font:bold 13px/1.4 @font-1;}
.header-title span{display:block;}

.slider-1__content{min-height:490px;}
.cat__item{width:50% !important;}
}
@media screen and (min-width:551px){
.header-nav{display:block !important;}
#mask{display:none !important;}
}
@media screen and (max-width:550px){
.header-top{height:47px;}
.header-title{display:block; position:absolute; top:56px; left:130px; z-index:2;}
.header-mobile{width:100%; padding:0 15px 0 0; position:absolute; top:0; left:0; text-align:right;}
.header-mobile__button{width:27px; height:25px; margin:18px 0 0; .i-b; background:url(../img/sprite-1.png) no-repeat -325px -42px;}
.header-basket{right:56px;}
.header-nav{width:100%; display:none; position:fixed; top:0; left:0; z-index:99; background:@white; .box-shadow; text-align:left;}
.header-nav__close{display:block; position:absolute; top:15px; right:15px;}
.header-nav__list{max-width:100%; padding:24px 15px 14px;}
.header-nav__item{padding:0 0 12px; display:block; font-size:15px;}
.header-nav__item:after{display:none;}
.header-nav__link{color:@black;}

.slider-1__content{min-height:520px;}

.inner-top__main{min-height:109px; padding:32px 15px 25px;}
.inner-top__main h1{padding:0;}
.inner-top__left{padding:0;}
.inner-top__select{margin:18px 0 0; top:auto; right:auto; position:relative;}
.breadcrumbs{padding:4px 0 0;}

.about p{padding:0 0 18px;}
.advantages__item-wrapper{width:100% !important; margin:0 !important;}
.advantages__item{min-height:0; padding:135px 15px 23px;}
.advantages__name{max-width:100%;}
.advantages__name br{display:none;}
.advantages__name span{top:30px; left:15px; font:bold 80px/1 @font-1;}
.slider-3__image{height:300px;}
}
@media screen and (max-width:500px){
.prod__item-wrapper{width:auto; float:none;}
.prod__item{margin:0 7.5px 15px;}	
.prod__content{ min-height:0 !important;}
.footer-block:nth-child(2n){left:auto;}

.catalog__list{padding:0 0 10px 0;}
.catalog__list .catalog__item-wrapper{width:100% !important; margin:0 0 15px !important;}
.page-nav{padding:47px 0 0;}
.page-nav__text-1{display:inline;}
.page-nav__text-2{display:none;}

.sale__item{width:100% !important; margin-right:0 !important;}

.slider-3__image{height:270px;}

.del br{display:none;}
.payment{padding:30px 100px 12px 39px;}
.payment:before{width:60px; height:60px; margin:-30px 0 0; right:15px;}
.payment:after{width:25px; height:30px; margin:-14px 0 0; right:32px; background-size:40px 44px;}
.payment__item{padding:0 0 18px;}
.payment__item:first-child, .payment__item:last-child{white-space:nowrap;}

.leaders__title_fixed{position:relative; top:5px; font-size:20px;}

.make-up__item{width:100% !important; margin-right:0; padding-right:0;}
}
@media screen and (max-width:450px){
.header-contacts__button{margin:0 0 0 7px; padding:5px 15px 0; font:13px/1.4 @font-1; text-align:left;}
.header-contacts__button span{display:block;}

.footer-info__adr{font-size:11px;}

.slider-1__content{min-height:540px;}
.cat__item{width:auto !important; float:none;}
.cat__icon_1{padding:0 0 125px;}
.cat__icon_2{padding:0 0 130px;}
.cat__icon_4{padding:0 0 150px;}
.cat__icon_5{padding:0 0 160px;}
.cat__icon_6{padding:0 0 150px;}
.cat__icon_7{padding:0 0 125px;}
.cat__icon_8{padding:0 0 145px;}
.cat__icon_9{padding:0 0 135px;}
.cat__icon_11{padding:0 0 115px;}

.slider-3__image{height:235px;}

.product__amount{margin:0 0 20px;display:block;}
.gal-1{ height:350px;}
.gal-1__fix img{max-height:349px;}
.recipe__video{height:250px;}

.basket-table__row{margin:0 0 23px; padding:0 0 3px;}
.basket-table__cell{width:auto;}
.basket-table__cell_2, .basket-table__cell_3{width:50%;}
.basket-table__cell_4{width:auto; margin:0; display:block;}
.basket-table__end{padding:0 50% 0 0;}
.basket-table__remove{margin:0 -12px 0 0; right:50%;}
}
@media screen and (max-width:400px){
.header{height:96px; position:relative; z-index:99;}
.header-top{height:42px; min-height:0; padding:0 0 0 104px;}
.header-bottom{min-height:59px; padding:0 45px 0 104px; position:relative;}
.header-logo{width:104px;}
.header-logo__image{height:104px; padding:11px;}
.header-basket{top:9px; right:54px;}
.header-mobile__button{margin:17px 0 0;}
.header-contacts__number{font:bold 12px/42px @font-1;}
.header-contacts__button{min-width:0; height:42px; margin:0 0 0 8px; padding:6px 15px 0; font:12px/1.3 @font-1;}
.header-title{padding:0 0 0 13px; top:57px; left:103px; font:bold 12px/1.3 @font-1;}

.footer-block:last-child{width:auto; margin:0; display:block;}
.footer-abs{width:auto; margin:0 0 15px; display:block;}
.footer-info__label{min-height:0;}
.footer-info__adr{font-size:12px;}

.slider-1__content{min-height:550px;}

.contacts__link{margin:0; font-size:@base-font-size-mob; float:none;}
.contacts__button{min-width:100%; float:none;}

.slider-3__image{height:200px;}
.del__item, .payment{font-size:14px;}

.leaders__title_fixed{top:7px; font-size:18px;}
}
@media screen and (max-width:360px){
.header-title{top:56px; font:bold 11px/1.4 @font-1;}
.gal-1{height:290px;}
.gal-1__fix img{max-height:289px;}
.recipe__video{height:220px;}
}